extends ../layouts/base

block head
  title= "About"

block content
  mixin aboutHead("Getting Started")
  //- each post in posts
  //-   if (post.title === "Getting Started")
  //-     div.about-big
  //-       mixin post(post)
  #bricks
    each post in posts
        if (post.title !== "Github Install" && post.title !== "Getting Started")
          mixin postHeadSmall(post)
