extends ../layouts/base

block head
  title= "THEREMX"

block content
  h5
    img.bigOne(src="#{data.baseUrl}images/theremaxFlock.png" alt="Flock")
    br
    br
    hr

 
  
  each post in posts
    if post.title === "Github Install"
      .post-body.markdown!= post.content

  